<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Filtro_Paginas</filter-name>
        <filter-class>com.pizzaria.controle.Filtro_Paginas</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtro_Paginas</filter-name>
        <url-pattern>/'</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Servelet_Login</servlet-name>
        <servlet-class>controle.Servelet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Login</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Func</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Func</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Cliente</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Atualizar</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Atualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Buscar</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Excluir</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Excluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Atualizar_Func</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Atualizar_Func</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Buscar_Func</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Buscar_Func</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Excluir_Func</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Excluir_Func</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar_Func</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar_Func</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Usuario</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Produtos</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Produtos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categoria_DAO</servlet-name>
        <servlet-class>com.pizzaria.DAO.Categoria_DAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar_Produto</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar_Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Pedido</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Pedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar_Categoria</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar_Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Buscar_Prod</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Buscar_Prod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Atualizar_Prod</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Atualizar_Prod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Carrinho</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Carrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Excluir_Prod</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Excluir_Prod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Atualizar_Categoria</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Atualizar_Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Excluir_Categoria</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Excluir_Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Categoria</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar_Cat</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar_Cat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Buscar_Categoria</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Buscar_Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar_Pedidos</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar_Pedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar_Pedido</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar_Pedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar_Itens_Pedidos</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar_Itens_Pedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Endereco</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Endereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Valida_CPF</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Valida_CPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Valida_Login</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Valida_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarPedidoStatus</servlet-name>
        <servlet-class>com.pizzaria.controle.ServletListarPedidoStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Perfil_Func</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Perfil_Func</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Listar_Perfil</servlet-name>
        <servlet-class>com.pizzaria.controle.Servlet_Listar_Perfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Login</servlet-name>
        <url-pattern>/Servlet_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Login</servlet-name>
        <url-pattern>/Servlet_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Func</servlet-name>
        <url-pattern>/Servlet_Func</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Cliente</servlet-name>
        <url-pattern>/Servlet_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar</servlet-name>
        <url-pattern>/Servlet_Listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Atualizar</servlet-name>
        <url-pattern>/Servlet_Atualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Buscar</servlet-name>
        <url-pattern>/Servlet_Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Excluir</servlet-name>
        <url-pattern>/Servlet_Excluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Atualizar_Func</servlet-name>
        <url-pattern>/Servlet_Atualizar_Func</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Buscar_Func</servlet-name>
        <url-pattern>/Servlet_Buscar_Func</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Excluir_Func</servlet-name>
        <url-pattern>/Servlet_Excluir_Func</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar_Func</servlet-name>
        <url-pattern>/Servlet_Listar_Func</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Usuario</servlet-name>
        <url-pattern>/Servlet_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Produtos</servlet-name>
        <url-pattern>/Servlet_Produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categoria_DAO</servlet-name>
        <url-pattern>/Categoria_DAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar_Produto</servlet-name>
        <url-pattern>/Servlet_Listar_Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Pedido</servlet-name>
        <url-pattern>/Servlet_Pedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar_Categoria</servlet-name>
        <url-pattern>/Servlet_Listar_Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Buscar_Prod</servlet-name>
        <url-pattern>/Servlet_Buscar_Prod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Atualizar_Prod</servlet-name>
        <url-pattern>/Servlet_Atualizar_Prod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Carrinho</servlet-name>
        <url-pattern>/Servlet_Carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Excluir_Prod</servlet-name>
        <url-pattern>/Servlet_Excluir_Prod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Atualizar_Categoria</servlet-name>
        <url-pattern>/Servlet_Atualizar_Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Excluir_Categoria</servlet-name>
        <url-pattern>/Servlet_Excluir_Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Categoria</servlet-name>
        <url-pattern>/Servlet_Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar_Cat</servlet-name>
        <url-pattern>/Servlet_Listar_Cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Buscar_Categoria</servlet-name>
        <url-pattern>/Servlet_Buscar_Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar_Pedidos</servlet-name>
        <url-pattern>/Servlet_Listar_Pedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar_Pedido</servlet-name>
        <url-pattern>/Servlet_Listar_Pedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar_Itens_Pedidos</servlet-name>
        <url-pattern>/Servlet_Listar_Itens_Pedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Endereco</servlet-name>
        <url-pattern>/Servlet_Endereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Valida_CPF</servlet-name>
        <url-pattern>/Servlet_Valida_CPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Valida_Login</servlet-name>
        <url-pattern>/Servlet_Valida_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarPedidoStatus</servlet-name>
        <url-pattern>/ServletListarPedidoStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Perfil_Func</servlet-name>
        <url-pattern>/Servlet_Perfil_Func</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Listar_Perfil</servlet-name>
        <url-pattern>/Servlet_Listar_Perfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            999999
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login_index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
